.form {
  &-control {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    font-size: inherit;
    color: inherit;
    text-align: inherit;

    &:focus {
      outline: none;
    }
  }
}
