.form {
  position: relative;

  &-control {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
    font-size: inherit;
    color: inherit;
    text-align: inherit;

    &:focus {
      outline: none;
    }
  }

  &-feedback {
    display: none;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    &-success {
      color: #5cb85c;
    }

    &-error {
      color: #d9534f;
    }
  }
}
