&-about {
  & + & {
    border-top: 1px solid #D8D8D8;
  }

  .container {
    position: relative;
  }

  .section {
    &-image {
      position: relative;
      margin-top: 6rem;

      @media (min-width: 60em) {
        margin-top: 10rem;
      }

      svg {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@each $section, $color in (
  smart: #319DFF,
  infinite: #9633FF,
  fun: #FD8E00
) {
  &-#{$section} {
    .section {
      &-icon,
      &-title {
        color: $color;
      }
    }
  }
}

&-smart &-image {
  height: 264px;
}

&-infinite &-image {
  height: 266px;
}

&-fun &-image {
  height: 284px;
  margin-top: 4rem;

  @media (min-width: 60em) {
    margin-top: 8rem;
  }
}
