&-about {
  & + & {
    border-top: 1px solid #D8D8D8;
  }

  .container {
    position: relative;
  }

  .section {
    &-image {
      margin-top: 6rem;

      @media (min-width: 60em) {
        margin-top: 13rem;
      }
    }
  }
}

@each $section, $color in (
  smart: #319DFF,
  infinite: #9633FF,
  fun: #FD8E00
) {
  &-#{$section} {
    .section {
      &-icon,
      &-title {
        color: $color;
      }
    }
  }
}

&-smart &-image-side {
  display: none;
  position: absolute;
  top: 70%;
  left: 15%;
  color: #319DFF;

  @media (min-width: 60em) {
    display: block;
  }
}

&-infinite &-image {
  margin-right: -5rem;
}

&-fun &-image {
  margin-top: 4rem;

  @media (min-width: 60em) {
    margin-top: 8rem;
  }
}
