&-epicweather {
  padding: 0;

  .section {
    &-item {
      width: 100%;
      min-height: 800px;
      padding-bottom: calc(55.56% - 800px);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;

      &:nth-child(1) {
        background-image: url('../images/carousel/beach.jpg');
      }

      &:nth-child(2) {
        background-image: url('../images/carousel/wind.jpg');
      }

      &:nth-child(3) {
        background-image: url('../images/carousel/rain.jpg');
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .flickity-page-dots {
    bottom: 2rem;

    .dot {
      margin: 0 3px;
      background: #fff;
      opacity: 0.5;

      &.is-selected {
        opacity: 1;
      }
    }
  }
}
