&-epicweather {
  padding: 0;

  .section {
    &-item {
      width: 100%;
      min-width: 1440px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .flickity-page-dots {
    bottom: 2rem;

    .dot {
      margin: 0 3px;
      background: #fff;
      opacity: 0.5;

      &.is-selected {
        opacity: 1;
      }
    }
  }
}
