&-subscribe {
  padding-bottom: 1rem;
  background: #262626;
  color: #fff;

  .form {
    padding: 7rem 0;

    @media (min-width: 60em) {
      padding: 15rem 0;
    }

    &-group {
      position: relative;
      max-width: 680px;
      margin-left: auto;
      margin-right: auto;
    }

    &-control {
      padding-bottom: 2rem;
      border-bottom: 1px solid #fff;
      font-size: 16px;
      transition: 0.2s;
      text-align: left;

      @media (min-width: 30em) {
        font-size: 24px;
      }

      @media (min-width: 60em) {
        font-size: 30px;
      }

      &:focus {
        box-shadow: 0 1rem rgba(#fff, 0.1);
      }
    }

    &-feedback {
      @media (min-width: 60em) {
        bottom: 6rem;
      }

      &-loading {
        animation: loading 1s infinite;
      }
    }

    &-submit {
      position: absolute;
      top: 0;
      right: 0;

      @media (min-width: 30em) {
        padding: 0.5rem 0;
      }
    }
  }
}

@keyframes loading {
  0% {
    color: rgba(#fff, 0.1);
  }

  50% {
    color: rgba(#fff, 0.25);
  }

  100% {
    color: rgba(#fff, 0.1);
  }
}
